@model PackageDelivery.GUI.Models.Core.ShippingStatusModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShippingStatusModel</h4>
    <hr />
   <dl class="dl-horizontal">
    <div class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </div>
</dl>
</div>
<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = Model.Id })'">Editar</button>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index")'">Volver</button>
</p>
