@model PackageDelivery.GUI.Models.Parameters.DepartmentModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Está seguro de eliminar esto?</h3>
<div>
    <h4>DepartmentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index")'">Volver</button>
        </div>
    }
</div>
